html {
    width: 100%;
}
#main {
    display: grid;
    justify-content: center;
    padding: 109px 0px 0px;
}
#searchBox {
    justify-content: center;
    display: inline-flex;
}
#searchButtons {
    justify-content: center;
    display: inline-flex;
}
#icon {
    display: inline-flex;
    justify-content: center;
}
button {
    border: none;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
}
input {
    margin: -37px 0px 0px;
    display: flex;
    flex: 100%;
    outline: none;
    border-radius: 20px;
    border: 1px solid #dfdfdf;
    height: 40px;
}
#mag {
    width: 30px;
    height: auto;
    position: relative;
    left: 40px;
    bottom: 30px;
}
#mic{
    width: 30px;
    position: relative;
    right: 40px;
    bottom: 30px;
}
input::placeholder {
    padding-left: 45px;
}
#icon {
    margin: 50px;
}
a {
    text-decoration: none;
    padding: 10px 0px;
}
a:hover {
    text-decoration: underline;
}
#navbar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: "about store . gmail images menu sign-in";
}
#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#store {
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
}
#sign-in {
    grid-area: sign-in; 
    justify-self: center;
    align-self: center;
}
#footer {
    display: grid;
    grid-template-columns: 100px 100px 125px 1fr 75px 75px 75px;
    grid-template-rows: 50px;
    grid-template-areas: "ads biz how . privacy terms settings";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #f2f2f2;
}
#ads {
    grid-area: ads;
    justify-self: center;
    align-self: center;
}
#biz {
    grid-area: biz;
    justify-self: center;
    align-self: center;
}
#how {
    grid-area: how;
    justify-self: center;
    align-self: center;
}
#privacy {
    grid-area: privacy;
    justify-self: center;
    align-self: center;
}
#terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
}
#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
}